In [1]:
import pandas as pd
import numpy as np
import random as rndm

In [21]:
age = [rndm.randint(18, 50) for _ in range(1, 10000)]
exp = [int(x/10 * rndm.randint(1, 3)) for x in age]
salary = [np.round((y*2)*rndm.randint(5000, 6000)) for x,y in zip(age, exp)]
df = pd.DataFrame({'Age': age,
                    'Exp': exp,
                    'Salary': salary})

In [23]:
df.sample(10)

      Age  Exp  Salary
2895   30    6   62832
7722   20    6   62364
232    27    2   20812
6456   25    7   72338
6683   22    2   22396
4916   23    2   23312
2661   40    8   87248
3312   40    4   41136
5021   41    8   95856
4785   49   14  167608

In [27]:
# features and label
features = df.drop('Salary', axis=1)
label = df['Salary']

# train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=21)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(7999, 2) (2000, 2) (7999,) (2000,)

In [29]:
# model training
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

# model prediction
y_pred = model.predict(x_test)

In [31]:
# accuracy 
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error
# print(accuracy_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

3128.9897200823807
17024827.348187078

In [34]:
model.predict([[32, 4]])

array([44003.83306928])

In [35]:
# dumping our model 
import pickle
with open('model.pik', 'wb') as files:
    pickle.dump(model, files)

In [37]:
# test model
with open('model.pik', 'rb') as files:
    lr = pickle.load(files)

lr.predict([[32, 3]])

array([32987.34770188])